<div class="container-fluid custom-container">
  <h2>Administrator dashboard</h2>

  <ul class="list-group">
    <li class="list-group-item list-group-item-primary list-item">
      <a class="nav-link" routerLink="/admin/messages">Contact form messages</a>
    </li>
    <li class="list-group-item list-group-item-primary list-item" >
      <a class="nav-link" routerLink="/products">Products</a>
    </li>
  </ul>
</div>
