<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <div class="my-2 my-lg-0" *ngIf="(isAuthenticated$ | async) === true">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
    </div>
    </ul>
    <div class="btn-toolbar buttons-container">
      <div class="btn-group">
          <button class="btn btn-light my-2 my-sm-0" *ngIf="(isAuthenticated$ | async) === false" (click)="login()">Login</button>
          <button class="btn btn-light my-2 my-sm-0" *ngIf="(isAuthenticated$ | async) === true" (click)="logout()">Logout ({{getUserName()}})</button>
          <button type="button" class="btn btn-info" routerLink="/basket">
            Basket: <span class="badge badge-info">{{getNumberOfItemsInBasket()}}</span>
          </button>
      </div>
  </div>
</nav>
