<div *ngIf="!isPurchaseCompleted">
<div class="container custom-conteiner" *ngIf="basketItems$ | async as basketItems">
  <div class="container custom-conteiner">
    <div class="row">
      <div class="col justify-content-start">
        <span>Product name</span>
      </div>
      <div class="col text-center">
        <span>Price</span>
      </div>
      <div class="col text-center">
        <span>Quantity</span>
      </div>
      <div class="col text-end">
      </div>
      <div class="col text-end">
      </div>
    </div>
  </div>
  <ul class="list-group border border-primary">
      <li *ngFor="let item of basketItems" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
          <div class="container">
            <div class="row">
              <div class="col justify-content-start">
                <span>{{item.name}}</span>
              </div>
              <div class="col text-center">
                <span [ngClass]="(item.price <= 0) ? 'zero-or-negative-price' : 'text-black'">{{item.price | currency}}</span>
              </div>
              <div class="col text-center">
                <span>{{item.count}}</span>
              </div>
              <div class="col text-end">
                <span><button type="button" class="btn btn-outline-primary" routerLink="/products/{{item.productId}}">View details</button></span>
              </div>
              <div class="col text-end">
                <span><button type="button" class="btn btn-outline-primary" (click)="deleteItem(item.productId)">Delete item</button></span>
              </div>
            </div>
          </div>
        </li>
  </ul>
  <div class="container custom-conteiner" *ngIf="totalPrice$ | async as totalPrice">
    <div>
      <div class="container">
        <div class="row">
          <div class="col justify-content-start">
            Total price: <b>{{totalPrice | currency}}</b>
          </div>
          <div class="col justify-content-start">
            <button type="button" class="btn btn-outline-primary" (click)="completePurchase()">Complete purchase</button>
          </div>
          <div class="col text-end">
            <button type="button" class="btn btn-outline-danger" (click)="clearBasket()">Clear basket</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container custom-conteiner" *ngIf="basketItems$ | async as basketItems">
  <span *ngIf="basketItems.length == 0 && !isPurchaseCompleted">Basket is empty :-(</span>
</div>
<div class="container" *ngIf="isPurchaseCompleted">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Thank you!</h4>
    <hr>
    <p>Purchase completed successfully.</p>
  </div>
</div>

