<div class="container">
  <div class="row row-eq-height">
    <div class="col-md col-eq-height">
      <div class="container-fluid custom-conteiner" *ngIf="messages$ | async as messages">
        <ul class="list-group">
            <li *ngFor="let message of messages" class="list-group-item" (click)="showMessage(message.message)">
                <span>{{message.email}}</span>
            </li>
        </ul>
      </div>
    </div>
    <div class="col-md col-eq-height custom-conteiner" [ngClass]="(areMessagesAvailable) ? 'border border-primary' : ''">
      <div class="container custom-conteiner" *ngIf="activeMessage">
        {{activeMessage}}
      </div>
      <div class="container custom-conteiner" *ngIf="!activeMessage && areMessagesAvailable">
        Select message from the list to see the content.
      </div>
    </div>
    <div *ngIf="(!areMessagesAvailable)">
      <h2>No messages. Sorry...</h2>
    </div>
  </div>
</div>
