<div class="container custom-conteiner">
  <form [formGroup]="productForm" (ngSubmit)="save()">
    <div class="form-group">
      <label for="name" class="input-header">Name</label>
      <input formControlName="name" type="text" class="form-control" id="name" placeholder="Product name" required>
      <app-form-validator *ngIf="name?.dirty || name?.touched"
          [validationErrors]="name?.errors"
          [errorTypeAndMessage]="{'maxlength': 'Product name exceeded maximum number (60) of characters.', 'required': 'Product name cannot be empty!'}">
      </app-form-validator>
    </div>
    <div class="form-group">
      <label for="description" class="input-header">Description</label>
      <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
      <app-form-validator *ngIf="description?.dirty || description?.touched"
          [validationErrors]="description?.errors"
          [errorTypeAndMessage]="{'maxlength': 'Product description exceeded maximum number (200) of characters.', 'required': 'Product description cannot be empty!'}">
      </app-form-validator>
    </div>
    <div class="form-group">
      <label for="price" class="input-header">Price</label>
      <input formControlName="price" type="text" class="form-control" id="price" placeholder="Product price" required>
      <app-form-validator *ngIf="price?.dirty || price?.touched"
          [validationErrors]="price?.errors"
          [errorTypeAndMessage]="{'required': 'Product price cannot be empty!', 'min': 'Product price must be grater or equal 0.', 'pattern': 'Incorrect price format.'}">
      </app-form-validator>
    </div>
    <div class="form-group">
      <label for="stockQuantity" class="input-header">Stock quantity</label>
      <input formControlName="stockQuantity" type="text" class="form-control" id="price" placeholder="Stock quantity" required>
      <app-form-validator *ngIf="stockQuantity?.dirty || stockQuantity?.touched"
          [validationErrors]="stockQuantity?.errors"
          [errorTypeAndMessage]="{'required': 'Stock quantity cannot be empty!', 'min': 'Stock quantity must be grater or equal 0.'}">
      </app-form-validator>
    </div>
    <button type="submit" class="btn btn-primary save-button">save</button>
  </form>
</div>
