<div *ngIf="randomProducts$ | async as randomProducts">
  <div class="container custom-conteiner">
    <div class="row">
      <div class="col-4" *ngFor="let randomProduct of randomProducts" routerLink="{{randomProduct.id}}">
        <div class="card custom-card shadow">
          <div class="card-body">
            <h5 class="card-title">{{randomProduct.name}}</h5>
            <p class="card-text">Price: {{randomProduct.price | currency}}</p>
            <p class="card-text"><small class="text-muted">{{randomProduct.description}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
