<div *ngIf="product" class="container custom-conteiner">
  <div class="card-deck">
    <div class="card text-black mb-4">
        <div class="card-header">{{product.name}}</div>
        <div class="card-body">
          Price: {{product.price | currency}}
        </div>
        <div class="card-footer">
          <small class="text-muted">{{product.description}}</small>
        </div>
        <div class="card-body">
          <span><button type="button" class="btn btn-outline-primary" *ngIf="(product.price > 0 && sharedService.isProductInStock(product))" (click)="sharedService.addItemToBasket(product)">Add to basket</button></span>
          <span><button type="button" class="btn btn-outline-warning" *ngIf="(!sharedService.isProductInStock(product))" disabled>Empty stock</button></span>
        </div>
        <hr>
        <div class="card-body" *ngIf="(isAuthenticated$ | async) === true">
          <div class="container">
            <span><h4>Manage product stock</h4></span>
          </div>
          <div class="container custom-conteiner">
            <div class="btn-group">
              <span><button type="button" class="btn btn-outline-primary custom-button" (click)="sharedService.increaseProductStockQuantity(product)">+</button></span>
              <span><button type="button" class="btn btn-outline-primary custom-button" (click)="sharedService.decreaseProductStockQuantity(product)">-</button></span>
            </div>
          </div>
          <div class="container">
            <span>Product stock quantity: {{product.stockQuantity}}</span>
          </div>
        </div>
    </div>
</div>
</div>

