<div class="container-fluid custom-conteiner" *ngIf="(isAuthenticated$ | async) === true">
  <button type="button" class="btn btn-outline-primary" routerLink="/admin/products/add">Add product</button>
</div>

<div class="container custom-conteiner" *ngIf="products$ | async as products">
  <div class="container custom-conteiner">
    <app-product-filter (filterProductsEvent)="filterProducts($event)" (isFilteringInProgressEvent)="isFilteringInProgress($event)"></app-product-filter>
  </div>
  <ul class="list-group border border-primary">
      <li *ngFor="let product of products" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">

          <div class="container">
            <div class="row">
              <div class="col justify-content-start">
                <span>{{product.name}}</span>
              </div>
              <div class="col text-center">
                <span [ngClass]="(product.price <= 0) ? 'zero-or-negative-price' : 'text-black'">{{product.price | currency}}</span>
              </div>
              <div class="col text-end">
                <span><button type="button" class="btn btn-outline-primary" routerLink="{{product.id}}">View details</button></span>
              </div>
              <div class="col text-center">
                <span *ngIf="(product.price > 0 && (sharedService.isProductInStock(product)))"><button type="button" class="btn btn-outline-primary" (click)="sharedService.addItemToBasket(product)">Add to basket</button></span>
                <span *ngIf="((!sharedService.isProductInStock(product)))"><button type="button" class="btn btn-outline-warning" disabled>Empty stock</button></span>
              </div>
              <div class="col text-end">
                <div *ngIf="(isAuthenticated$ | async) === true">
                  <span><button type="button" class="btn btn-outline-primary" routerLink="/admin/products/edit/{{product.id}}">Edit</button></span>
                </div>
              </div>
              <div class="col text-end">
                <div *ngIf="(isAuthenticated$ | async) === true">
                  <span><button type="button" class="btn btn-outline-primary" (click)="sharedService.increaseProductStockQuantity(product)">+</button></span>
                </div>
              </div>
              <div class="col-auto text-end">
                <div *ngIf="(isAuthenticated$ | async) === true">
                  <span><button type="button" class="btn btn-outline-primary" (click)="sharedService.decreaseProductStockQuantity(product)">-</button></span>
                </div>
              </div>
            </div>
          </div>
        </li>
  </ul>
  <div *ngIf="totalProducts$ | async as totalProducts">
    <pagination [totalItems]="totalProducts" [itemsPerPage]="productsPerPage" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>



