<div class="container custom-conteiner">
  <form [formGroup]="contactForm" (ngSubmit)="sendMessage()" *ngIf="!isMessageSend">
    <div class="form-group">
      <label for="emailAddress">Email address</label>
      <input formControlName="email" type="email" class="form-control" id="emailAddress" placeholder="Enter your e-mail" required>
        <app-form-validator *ngIf="email?.dirty || email?.touched"
          [validationErrors]="email?.errors"
          [errorTypeAndMessage]="{'email': 'Incorrect e-mail address.', 'required': 'E-mail field is empty!'}">
        </app-form-validator>
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea formControlName="message" class="form-control" id="message" rows="3"></textarea>
        <app-form-validator *ngIf="message?.dirty || message?.touched"
          [validationErrors]="message?.errors"
          [errorTypeAndMessage]="{'maxlength': 'Message exceeded maximum number (200) of characters.', 'required': 'Message cannot be empty!'}">
        </app-form-validator>
    </div>
    <button type="submit" class="btn btn-primary custom-button">Send message</button>
  </form>
  <div *ngIf="isMessageSend">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Done</h4>
      <hr>
      <p>Thank you for leaving the message!</p>
    </div>
  </div>
</div>
